@media screen and (min-width: 728px) {
    .header-nav-list {
        flex-direction: column;
        /* 在小屏幕上将导航项纵向排列 */
    }
    .header-nav-item {
        margin-right: 0;
        /* 在小屏幕上取消导航项之间的右边距 */
        margin-bottom: 10px;
        /* 在小屏幕上添加导航项之间的下边距 */
    }
    .header {
        height: 100px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }
    div {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        font-weight: inherit;
        background: transparent;
    }
    a {
        color: #333;
        font-weight: inherit;
        text-decoration: none;
    }
    .header-nav-item .logo {
        position: absolute;
        top: 50px;
        left: 10%;
        margin-right: auto;
    }
    .header-nav-item {
        margin-right: 50px;
        /* 设置导航项之间的右边距，根据需要进行调整 */
        display: flex;
        justify-content: space-between;
    }
    .menu {
        position: absolute;
        top: 70px;
        left: 50%;
        display: flex;
        transform: translateX(-50%);
        padding-left: 50px;
    }
    .header-nav-item a {
        text-decoration: none;
        color: #ffffff;
        font-weight: inherit;
        transition: color 0.3s;
        letter-spacing: 4px;
    }
    .header-nav-item a:hover {
        color: #45ff3b;
        /* 悬停时的颜色 */
    }
    .header-nav-list {
        display: flex;
        /* 使用 Flexbox 布局 */
        list-style: none;
        padding: 50px;
    }
    .header-nav-item img {
        width: 203px;
        aspect-ratio: auto 203 / 53;
        height: 53px;
        display: block;
        max-width: 100%;
    }
    .header-nav-wrapper {
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hamb__icon {
        cursor: pointer;
        display: block;
        position: fixed;
        top: 50px;
        right: 40px;
        z-index: 100;
    }
    .hamb__icon button {
        border: 0;
        background-color: transparent;
    }
    .hamb__icon-parts {
        background-color: rgba(255, 255, 255, 0.5);
        border: solid 1px #e6e6e6;
        border-radius: 80px;
        height: 80px;
        width: 80px;
        display: block;
        position: relative;
        display: grid;
        place-items: center;
    }
    .hamb__icon-parts:before {
        content: "メニュー";
    }
    .hamb__icon-parts:before {
        font-weight: 600;
        letter-spacing: 0 !important;
        font-size: 10px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
    /* about me */
    @media (max-width: 960px) {
        .common-sub-heading {
            font-size: 10px;
            line-height: 20px;
            margin-bottom: 4px;
            padding: 0 10px;
        }
        .title-box {
            font-size: 32px;
            margin-top: 10px;
        }
        .index-aboutme-content img {
            width: 100px;
        }
        .works-content img {
            width: 50%;
        }
    }
    .head-box {
        display: inline-block;
        position: relative;
    }
    .index-aboutme-box {
        margin: 70px;
    }
    .index-aboutme-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* 添加此行以确保在窄屏幕上正常工作 */
        margin: 0 auto;
        /* 这将使按钮在其父容器中水平居中 */
    }
    .index-aboutme-content img {
        width: 250px;
        margin-bottom: 50px;
    }
    .aboutme-span {
        flex: 1;
        padding: 20px;
        /* 调整根据需要的间距 */
    }
    .common-sub-heading {
        font-size: 14px;
        padding: 6px;
        border: solid 2px #333333;
        border-radius: 24px 24px 24px 24px;
        display: inline-block;
        font-weight: 600;
    }
    .text-animation.show .text-animation-span {
        padding: 10px;
        font-size: 50px;
        font-weight: bold;
        vertical-align: bottom;
        display: inline-block;
        overflow: hidden;
    }
    .text-animation.show span {
        display: inline-block;
        animation: showText 0.5s backwards;
    }
    .index-aboutme-content img {
        width: 250px;
        margin-bottom: 50px;
    }
    .aboutme-span {
        padding: 100px;
    }
    .index-works-head {
        margin: 70px;
    }
    section {
        display: flex;
        flex-wrap: wrap; /* 自动换行 */
        gap: 40px;
        position: relative;
    }
    .works-content {
        width: 30%;
        overflow: hidden;
        padding-bottom: 100px;
    }
    .works-image img,.works-image video {
        width: 100%;
        margin-bottom: 20px;
        transition: transform 0.3s ease; /* 添加缓动动画效果 */
    }
    .works-image video:hover, .works-image img:hover {
    z-index: 1; /* 提高层级 */
    filter: brightness(70%); /* 图片变暗 */
    cursor: pointer; /* 鼠标指针变为手型 */
    }
    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba; /* 半透明黑色背景 */
        padding: 20px;
        display: none; /* 初始状态隐藏 */
        z-index: 1000; /* 较高的层级 */
    }
    .popup.active {
        display: block; /* 显示弹出窗口 */
        animation: fadeIn 0.3s ease; /* 淡入动画效果 */
    }
    .popup img,.popup video {
        max-width: 70%;
        max-height: 80vh;
        display: block;
        margin: 0 auto;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .works-content:hover .popup {
        display: block;
    }
    .works-title {
        font-size: 14px;
        margin-left: 10px;
        margin-bottom: 20px;
        padding: 8px;
        border: solid 1px #333333;
        border-radius: 30px 30px 30px 30px;
        display: inline-block;
        font-weight: 400;
    }
    .works-intro {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 24px;
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .date {
        font-family: Alfa Slab One;
        font-size: 12px;
        color: #808080;
        margin-left: 10px;
        margin-bottom: 50px;
    }
    .read-more{
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
    /*聯絡*/
    .community {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .community a {
        margin-left: 100px;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        padding-bottom: 40px;
        padding-top: 40px;
        text-decoration: none;
        color: #333;
        font-weight: inherit;
        transition: color 0.3s;
    }
    .community a:hover {
        color: #45ff3b;
    }
    
    /*表單*/
    .grid-s {
        padding-left: 5.4904831625vw;
        padding-right: 5.4904831625vw;
        display: block;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        line-height: 2;
        box-sizing: border-box;
        letter-spacing: 0.04em;
    }
    .formArticle__leader a {
        font-size: 30px;
        font-weight: bold;
    }
    .formArticle__leader p {
        padding-bottom: 40px;
    }
    .formList>li {
        display: flex;
        margin-bottom: 20px;
        display: block;
    }
    li {
        list-style-type: none;
    }
    @media (min-width: 961px) {
        .form-item .form-select {
            height: 80px;
            padding: 13px 20px;
        }
    }
    .form-item .form-input {
        border-radius: 4px;
        position: relative;
    }
    .form-item .form-head {
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 600;
        padding-right: 50px;
    }
    input {
        background-color: #d9d9d9;
        border: none;
        border-radius: 0px;
        outline: none;
        padding: 10px;
    }
    textarea {
        background-color: #d9d9d9;
        border: none;
        border-radius: 0px;
        padding: 10px;
    }
    .hissu {
        background-color: #45ff3b;
        border-radius: 14px;
        color: #333;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        line-height: 22px;
        margin-right: 10px;
        width: 48px;
        text-align: center;
    }
    @media (min-width: 961px) {
        .form-btn-wrapper {
            margin-top: 55px;
        }
    }
    .form-btn-wrapper.form-btn button {
        border-radius: 40px;
        line-height: 80px;
        cursor: pointer;
        color: #fff;
        background-color: #333333;
        display: block;
        line-height: 1;
        position: relative;
    }
    .form-btn button {
        border-radius: 50px;
        /* 或者你想要的其他像素值 */
        background-color: none;
        padding: 20px;
        border: none;
        font-weight: bold;
        letter-spacing: 0.04em;
        display: block;
        margin: 0 auto;
        /* 这将使按钮在其父容器中水平居中 */
    }
    .form-btn button:hover {
        background-color: #45ff3b;
    }
    /*footer*/
    @media screen and (min-width: 768px) {
        .footer {
            margin: 0 4rem;
        }
    }
    .footer {
        color: #333333;
        margin: 0 2rem;
        font-size: 16px;
        position: relative;
        color: #000;
        font-weight: 500;
        text-align: justify;
    }
    .footer-01 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer .footer-01 .footer-01-left {
        padding: 3rem 2rem;
        margin-top: -10rem;
    }
    .footer .footer-01 .footer-01-left {
        width: 70%;
        max-width: 230px;
        margin: 0 auto;
    }
    .footer-link {
        padding-bottom: 30px;
        padding-left: 50px;
    }
    .footer-link a {
        text-decoration: none;
        color: #000000;
        font-weight: inherit;
        transition: color 0.3s;
        padding-right: 50px;
    }
    .footer-link a:hover {
        color: #45ff3b;
    }
    .footer-03 {
        padding-top: 80px;
        font-size: 12px;
        padding-bottom: 50px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
    .footer-01-left__img {
        width: 100px;
    }
}